################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/hello-worl/FileContentIndex
/.vs/hello-worl/copilot-chat/760d918d/sessions
